@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo+Play&display=swap');

:root {
  font-size: 16px;
  --font-title: 'Cairo Play', sans-serif;
  --font-body: 'Cairo', sans-serif;
  --radius: 0.5rem;
  --background: #202426;
  --font-color: aliceblue;
  --shadow: 1px 1px 13px #03030390;
}

.map-container {
  height: 100vh;
}

.header-container {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100vw;
  max-width: none;
  margin-top: 0.5rem;
  z-index: 9999;
}

.header {
  font-family: var(--font-body);
  background-color: var(--background);
  box-shadow: var(--shadow);
  color: var(--font-color);
  border-radius: var(--radius);
  padding: 0.5rem 2rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.header-element {
  width: auto;
  margin: 0px;
}

.navbar-brand {
  font-family: var(--font-title);
  font-size: 1.5rem;
  color: var(--font-color);
  margin: 0px;
  padding: 0px;
}

.navbar-brand:hover {
  color: inherit;
}

.navbar-brand:focus {
  color: inherit;
}

.navbar-text {
  font-family: var(--font-title);
  padding: 0 1rem 0 0;
  color: var(--font-color);
}

.input-group-text {
  color: var(--font-color);
}

.form-control:focus {
  z-index: inherit;
  border-color: inherit;
  box-shadow: inherit;
}

.offcanvas.offcanvas-start {
  top: 5rem;
  left: 1rem;
  height: fit-content;
  overflow: scroll;
  max-height: 80vh;
}

.offcanvas {
  position: absolute;
  display: flex;
  background-color: var(--background);
  box-shadow: var(--shadow);
  color: var(--font-color);
  border-radius: var(--radius);
  font-family: 'Cairo', sans-serif;
  z-index: 99999;
}

.offcanvas-header {
  flex-direction: column;
  padding-bottom: 0px;
}

.panel-close {
  position: absolute;
  top: 16px;
  right: 16px;
}

.offcanvas-backdrop.show {
  opacity: 0;
}

.col {
  display: flex;
  justify-content: center;
  padding: 0 0 16px 0;
}

.accordion-button.collapsed {
  color: var(--font-color);
}

.accordion-body {
  color: var(--font-color);
  font-size: 14px;
  padding: 14px;
}
