@use 'colors';
@use 'fonts';

.panel {
  display: flex;
  position: absolute;
  background-color: colors.$mocha-base;
  box-shadow: 1px 1px 14px colors.$mocha-mantle;
  color: colors.$mocha-text;
  font-family: fonts.$font-primary;
  border-radius: 0.5rem;
  z-index: 99999;

  .panel-header {
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
  }

  .panel-controls {
    display: flex;
    justify-content: end;
    column-gap: 0.5rem;
    padding: 0px;
  }

  .panel-title {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 0.5rem;
    padding: 0px;
    font-size: 1.5rem;
  }

  .panel-subtitle {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 0.5rem;
    padding: 0px;
    font-size: 1rem;
  }

  .panel-body {
    display: flex;
    flex-direction: column;
  }

  .panel-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 1rem;
  }
}

.offcanvas.offcanvas-start {
  top: 5rem;
  left: 1rem;
  height: fit-content;
  max-height: 80vh;
  border-right: none;
}

.accordion-item {
  color: colors.$mocha-text;
  background-color: colors.$mocha-mantle;
  border-color: colors.$mocha-mauve;
}

.accordion-button {
  color: colors.$mocha-text;
  background-color: colors.$mocha-mantle;
  border-color: colors.$mocha-mauve;
}

.accordion-button:not(.collapsed) {
  color: colors.$mocha-text;
  background-color: colors.$mocha-mantle;
  border-color: colors.$mocha-mauve;
  box-shadow: none;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button::after {
  background-image: url('/assets/chevron-down.svg');
}

.accordion-button:not(.collapsed)::after {
  background-image: url('/assets/chevron-up.svg');
  transform: none;
}
