@use 'colors';
@use 'panel';
@use 'header';

.map-container {
  height: 100vh;
  background-color: colors.$mocha-crust;
}

.btn-outline-primary {
  color: colors.$mocha-peach;
  border-color: colors.$mocha-peach;
}

.btn.btn-outline-primary:active {
  background-color: colors.$mocha-peach;
  border-color: colors.$mocha-peach;
  color: colors.$mocha-base;
}

.btn.btn-outline-primary:focus-visible {
  background-color: colors.$mocha-peach;
  border-color: colors.$mocha-peach;
  color: colors.$mocha-base;
  box-shadow: none;
}

.btn:hover {
  background-color: colors.$mocha-peach;
  border-color: colors.$mocha-peach;
  color: colors.$mocha-base;
}
