@use 'colors';
@use 'panel';

@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo+Play&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

$font-title: 'Cairo Play', sans-serif;
$font-primary: 'Cairo', sans-serif;

.map-container {
  height: 100vh;
  background-color: colors.$mocha-crust;
}

.header-container {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100vw;
  max-width: none;
  margin-top: 0.5rem;
  z-index: 9999;
}

.header {
  box-shadow: 1px 1px 14px colors.$mocha-mantle;
  color: colors.$mocha-text;
  background-color: colors.$mocha-base;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.header-element {
  width: auto;
  margin: 0px;
}

.navbar-brand {
  font-family: $font-title;
  font-size: 1.5rem;
  color: colors.$mocha-text;
  margin: 0px;
  padding: 0px;
}

.navbar-brand:hover {
  color: inherit;
}

.navbar-brand:focus {
  color: inherit;
}

.navbar-text {
  font-family: $font-title;
  padding: 0 1rem 0 0;
  color: colors.$mocha-text;
}

.input-group-text {
  color: colors.$mocha-text;
  background-color: colors.$mocha-mantle;
  border-color: colors.$mocha-mauve;
}

.form-control {
  color: colors.$mocha-text;
  background-color: colors.$mocha-mantle;
  border-color: colors.$mocha-mauve;
}

.form-control::placeholder {
  color: colors.$mocha-subtext-1;
}

.form-control:focus {
  color: colors.$mocha-text;
  background-color: colors.$mocha-mantle;
  border-color: colors.$mocha-mauve;
  caret-color: colors.$mocha-peach;
  box-shadow: inherit;
}

.btn-outline-primary {
  color: colors.$mocha-peach;
  border-color: colors.$mocha-peach;
}

.btn:hover {
  background-color: colors.$mocha-peach;
  border-color: colors.$mocha-peach;
  color: colors.$mocha-base;
}

.btn.btn-outline-primary:active {
  background-color: colors.$mocha-peach;
  border-color: colors.$mocha-peach;
  color: colors.$mocha-base;
}

.btn.btn-outline-primary:focus-visible {
  background-color: colors.$mocha-peach;
  border-color: colors.$mocha-peach;
  color: colors.$mocha-base;
  box-shadow: none;
}
